html {
        background-color: lightgrey;
	word-wrap: break-word;
}

h1 {
        padding-bottom: 1ex;
        border-bottom-style: solid;
        border-bottom-width: medium;
}

h3 {
        padding-bottom: 0.5ex;
        border-bottom-style: groove;
        border-bottom-width: thin;
}

body {
        background-color: rgba(0, 0, 0, 0.1);
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 5px;
        padding: 10px;
}

li {
        text-align: left;
}

a {
        text-decoration: none;
}

code {
        background-color: darkgrey;
}

pre {
        background-color: darkgrey;
        padding: 20px;
        margin: 20px;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
}

a:hover {
        color: black;
        text-decoration: underline;
}

#smalltext {
        font-size: small;
}

#me {
        width: 25%;
        height: 25%;
        border-radius: 5px;
        float: right;
        margin-right: 200px;
}

#void {
        width: 10%;
        height: 10%;
        float: right;
        padding-right: 200px;
        padding-top: 50px;
}

#small {
        font-size: 14px;
}

#crypto {
        width: 2%;
        height: 2%;
}

#inter {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 50%
}

#soft {
        width: 15%;
        height: 15%;
        float: right;
}

#media {
        width: 25%;
        height: 25%;
        float: right;
}
