{{ partial "header.html" . -}}
<h1>{{ .Title }}</h1>
{{ partial "navbar.html" . -}}
<main>
<section>
	<ul>
	{{ range where .Site.RegularPages "Section" "blog" }}
	<li>
		<span>{{.Date.Format "January 2, 2006"}}</span><br>
		<a href="{{.Permalink}}">{{.Title}}</a>
	</li>
	{{ end }}
	</ul>
</section>
<aside>
	<img alt="My Photo" src="/p/pic.webp" style="border-radius: 10px; margin: 10px;">
        <p>Hi, my name is Bryce Vandegrift.
        This is my website, feel free to look around.
        It has some stuff you might like.</p>
        <ul>
                <li><a href="/software/">Software I use</a></li>
                <li><a href="/hardware/">Hardware I use</a></li>
                <li><a href="/equipment/">Equipment I use</a></li>
                <li>Some <a href="/websites/">cool websites</a> that I like.</li>
        </ul>
        <h2>Contact Me</h2>
        <ul>
                <li>Email: <a href="mailto:bryce@brycevandegrift.xyz">bryce@brycevandegrift.xyz</a></li>
                <li>Matrix: @bpv:frei.chat</li>
		<li>IRC: bpv on <code>irc.libera.chat</code></li>
        </ul>
        <p><a href="/bpv.gpg">My Public GPG Key for Encryption</a><br>
        or you can run this command to import my GPG key:</p>
        <code>curl -fsL "https://brycevandegrift.xyz/bpv.gpg" | gpg --import</code>
	<p>All valid emails from me will be signed with my fingerprint:
	<code>FCE5 8027 5F59 3358 228D 3840 EB4C 94BC D257 DBA9</code></p>
</aside>
</main>
{{ partial "footer.html" . }}
