{{ partial "header.html" . -}}
<h1>{{ .Title }}</h1>
{{ partial "navbar.html" . -}}
<main>
<section>
	<ul>
	{{ range where .Site.RegularPages "Section" "blog" }}
	<li>
		<span>{{.Date.Format "January 2, 2006"}}</span><br>
		<a href="{{.Permalink}}">{{.Title}}</a>
	</li>
	{{ end }}
	</ul>
</section>
<aside>
	<img alt="My Photo" src="/p/pic.webp" style="border-radius: 10px; margin: 10px;">
        <p>Hi, my name is Bryce Vandegrift.
        This is my website, feel free to look around.
        It has some stuff you might like.</p>
        <ul>
                <li><a href="/software/">Software I use</a></li>
                <li><a href="/hardware/">Hardware I use</a></li>
                <li><a href="/equipment/">Equipment I use</a></li>
                <li>Some <a href="/websites/">cool websites</a> that I like.</li>
        </ul>
</aside>
</main>
{{ partial "footer.html" . }}
