* {
	font-family: serif;
}

html {
	background-color: #111111;
	word-wrap: break-word;
	color: #eeeeee;
}

h1,h2,h3,h4,h5,h6 {
	text-align: center;
}

h1 {
	color: #ffffff;
}

h2 {
	color: #fb4934;
}

h3 {
	color: #fb4934;
}

h4 {
	color: #fabd2f;
}

body {
	max-width: 800px;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
}

main {
	display: flex;
	flex-direction: row;
}

section {
	flex-grow: 1;
}

aside {
	width: 40%;
	float: right;
}

li {
	text-align: left;
}

a {
	text-decoration: none;
	color: #8ec07c;
}

a:hover {
	color: #96db7d;
	text-decoration: underline;
}

figure {
	text-align: center;
}

code {
	/*background-color: rgba(0,0,0,0.5); */
	font-family: monospace;
	color: #fe8019;
	padding: 2px;
	border-radius: 2px;
}

blockquote {
	background-color: #1d2021;
	padding: 5px;
	border-radius: 5px;
}

strong {
	color: #fb4934;
}

pre {
	overflow-y: scroll;
	background-color: #111111;
	font-family: monospace;
	padding: 20px;
	margin: 20px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
}

span {
	font-family: monospace;
}

nav {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.bar {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.bar li a {
	display: block;
}

nav ul li {
	list-style: none;
	display: block;
	padding: 5px;
	margin: 5px;
	font-size: 20px;
	float: left;
	border: solid 2px #444444;
	background-color: #222222;
}

footer {
	padding-top: 20px;
	clear: both;
}

.webpin {
	float: left;
	margin: 2px;
}

#smalltext {
	font-size: small;
}

#small {
	font-size: 14px;
}

#smallimg {
	width: 35%;
	height: 35%;
}

#tree {
	text-align: center;
}

@media(max-width: 560px) {
	main {
		flex-direction: column;
	}
	section {
		order: 2;
	}
	aside {
		order: 1;
	}
}

/* light theme for masochists */
@media(prefers-color-scheme: light) {
	html {
		background-color: #ffffff;
		color: #000000;
	}
	h1 {
		color: #000000;
	}
	a {
		color: #4084d6;
	}
	a:hover {
		color: #4084d6;
	}
	blockquote {
		color: #ffffff;
	}
	nav ul li {
		border: solid 2px #aaaaaa;
		background-color: #dddddd;
	}
}
