* {
	font-family: serif;
}

html {
        background-color: #32302F;
	word-wrap: break-word;
	color: #ebdbb2;
}

h1,h2,h3,h4,h5,h6 {
	text-align: center;
}

h1 {
	color: #ffffff;
}

h2 {
	color: #fb4934;
}

h3 {
	color: #fb4934;
}

h4 {
	color: #fabd2f;
}

body {
	max-width: 800px;
	padding: 1em;
        margin-left: auto;
        margin-right: auto;
}

li {
        text-align: left;
}

a {
        text-decoration: none;
	color: #8ec07c;
}

code {
        /*background-color: rgba(0,0,0,0.5); */
	font-family: monospace;
	color: #fe8019;
	padding: 2px;
	border-radius: 2px;
}

blockquote {
	background-color: #1d2021;
	padding: 5px;
	border-radius: 5px;
}

strong {
	color: #b16286;
}

pre {
        background-color: #111111;
	font-family: monospace;
        padding: 20px;
        margin: 20px;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
}

span {
	font-family: monospace;
}

nav {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.bar {
	display: inline-block;
	margin: 0;
	padding 0;
	zoom: 1;
}

.bar li a {
	display: block;
}

nav ul li {
	list-style: none;
	display: block;
	padding: 7px;
	margin: 10px;
	font-size: 20px;
	float: left;
	border-style: solid;
	background-color: #222222;
}

a:hover {
        color: #96db7d;
        text-decoration: underline;
}

#smalltext {
        font-size: small;
}

#void {
        width: 10%;
        height: 10%;
        float: right;
        padding-right: 200px;
        padding-top: 50px;
}

#small {
        font-size: 14px;
}

#inter {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 50%
}

#soft {
        width: 15%;
        height: 15%;
        float: right;
}

#media {
        width: 25%;
        height: 25%;
        float: right;
}
